@model List<StateModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "State";
    int count = 0;
}
<h4>State</h4>
<a href="/State/Create" class="btn btn-success">New</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>           
        </tr>
    </thead>
    <tbody>
        @foreach (StateModel item in Model)
        {
            <tr>
                <td>
                    <a href="/State/Edit/@item.StateId" class="btn btn-warning">Edit</a>
                    @*  <a href="/BlogAjax/Delete/@item.BlogId" class="btn btn-danger">Delete</a> *@
                    <buton typeof="button" class="btn btn-danger btn-Delete" data-blog-id="@item.StateId" data-id="@item.StateId">Delete</buton>
                </td>
                <th scope="row"> @(++count) </th>
                <td>@item.StateCode</td>
                <td>@item.StateName</td>               
            </tr>
        }

    </tbody>
</table>
@* $('.btn-Delete').data('blog-id')
$('.btn-Delete').data('id') *@
@section scripts {
    <script>
        // alert('');
        $('.btn-Delete').click(function () {

            let id = $(this).data('blog-id');

            //Confirmation
            Swal.fire({
                title: "Confirm?",
                text: "Are you sure to delete",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {


                    deleteState(id);


                }
            });







        })


        function deleteState(id) {
                let _requestModel = {
                    StateId: id
                };
                // if JSON.stringify, need  contentType
                $.ajax({
                    url: "/State/Delete",
                    data: { state: _requestModel },
                    // data: JSON.stringify(_requestModel),
                    type: "POST",
                    // contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        //console.log(result);
                        if (result.IsSuccess) {



                            Swal.fire({
                                title: "Success",
                                text: result.Message,
                                icon: "success",

                            }).then((result) => {
                                if (result.isConfirmed) {

                                    location.href = "/State";
                                }
                            });



                        }
                        else {
                            Swal.fire({
                                title: "Error",
                                text: result.Message,
                                icon: "error"
                            });
                        }

                    },
                    error: function (errormessage) {
                        console.log(errormessage);

                    }
                });

                }
    </script>
}
